.FromContainer{
    //border: 1px solid #000;
    height : 100px;
    width: 19%;
    margin: 0 15px 15px 0%;
    border-radius: 5px;
    //background-color: #fff;
}

.ToContainer {
    //border: 1px solid #000;
    height : 100px;
    width: 19%;
    margin: 0 15px 15px 15px;
    border-radius: 2px;
    //background-color: #fff;
}

.CounterContainer{
    margin: 0% 0% 0% 0%;
    display: flex;
    justify-content: center
}

.MainCounterContainer{
    margin: 05% 0% 0% 0%;
    //display: flex;
    justify-content: center
}

.CounterTitle{
    display: flex;
    justify-content: space-around ;
    //justify-content: center;
}

.From{
    margin-left: 20%;
}

.To{
    margin-right: 39%;
}

.FirstInput{
    width: 100%;
    //height: 50px;
    //border: 1px solid lightgray;
    box-sizing: border-box;
}

.SecondInput{
    width: 100%;
    //height: 50px;
    //border: 1px solid lightgray;
    box-sizing: border-box;
}

.FirstChoose{
    width: 100%;
    height: 50px;
    //border: 1px solid lightgray;
}

.SecondChoose{
    width: 100%;
    height: 50px;
    //border: 1px solid lightgray;
}