.FromContainer{
    //border: 1px solid #000;
    height : 100px;
    width: 300px;
    margin: 0 15px 15px 0%;
    border-radius: 5px;
    //background-color: #fff;
}

.ToContainer {
    //border: 1px solid #000;
    height : 100px;
    width: 300px;
    margin: 0 15px 15px 15px;
    border-radius: 2px;
    //background-color: #fff;
}

.CounterContainer{
    margin: 0% 0% 0% 0%;
    display: flex;
    justify-content: center
}

.MainCounterContainer{
    margin: 05% 0% 0% 0%;
    //display: flex;
    justify-content: center
}

.CounterTitle{
    display: flex;
    justify-content: space-between;
    //justify-content: center;
}

.From{
    margin-left: auto;
    //margin-right: 10%;
}

.To{
    margin-right: 48%;
    margin-left: 19%;
}

.FirstInput{
    width: 100%;
    //height: 50px;
    //border: 1px solid lightgray;
    box-sizing: border-box;
}

.SecondInput{
    width: 100%;
    //height: 50px;
    //border: 1px solid lightgray;
    box-sizing: border-box;
}

.FirstChoose{
    width: 100%;
    height: 50px;
    //border: 1px solid lightgray;
}

.SecondChoose{
    width: 100%;
    height: 50px;
    //border: 1px solid lightgray;
}

@media only screen and (max-width: 580px) {
    .MainCounterContainer{
        display: flex;
        flex-direction: row;
    }

    .CounterTitle{
        display: none;
    }

    .CounterContainer{
        flex-direction: column;
    }

    .ToContainer{
        margin: 0 15px 15px 15px;
    }

    .FromContainer{
        margin: 0 15px 15px 15px;
    }
}
